/* Body CSS */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Prompt) format("woff2");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

body {
  /* overflow-x: hidden; */
  margin: 0;
  min-height: fit-content;
  font-style: normal;
  display: block;
  font-weight: 300;
  color: white;
  background: #0d1332;
  background-image: linear-gradient(180deg, #0d1332, black);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Icons */
i {
  padding: 0.5vw;
  padding-left: clamp(1vw, 2vw, 3vw);
  justify-content: space-between;
  display: flex;
}

/* Paragraph Headers */
h2 {
  text-align: left;
  position: relative;
  font-size: clamp(1rem, 1.5rem, 3rem);
  height: 50px;
  min-width: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 2vw;
  padding-right: 1vw;
  border-radius: 1%;
  transform: scale(0.75);
  backdrop-filter: blur(20px);
  min-width: 25.5%;
  cursor: pointer;
}

h2:hover {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  color: #eee;
  text-shadow: 0 0 10px #c6236783;
}

h2:active {
  transform: scale(0.74);
}

/* Icons to right of h3  */
.fa-user {
  float: right;
}
.fa-briefcase {
  float: right;
}
.fa-clock {
  float: right;
}

/* ----- Paragraph Section ----- */
.layer2 {
  background-image: url("../backgroundImages/layer2.svg");
}

.paragraph_link {
  text-transform: uppercase;
  /* inherits: unset;
  font-size: clamp(0.75rem, 1.5rem, 3rem); */
}

.spacer {
  aspect-ratio: 900/700;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 3vh;
}

/* paragraph tabs */
.tab {
  text-indent: 40px;
  max-width: 70%;
  text-align: center;
}

/* Paragraph text */
p {
  font-size: clamp(0.75rem, 1.5rem, 3rem);
  text-align: left;
  width: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  /* padding-bottom: 3vh;
  padding-top: 3vh; */
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  z-index: 1;
  border-radius: 1%;
  transform: scale(0.75);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  margin-top: -2.5rem;
}
p:hover {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

/* Text Links */
.text_link {
  inherits: none;
  margin: none;
  padding: none;
}

a:link {
  color: rgb(255, 254, 254);
}
/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}
/* mouse over link */
a:hover {
  color: #c62368;
}
/* selected link */
a:active {
  transform: scale(0.7);
}

/* ----- Section seperation lines ----- */
hr {
  border: 0;
  border-top: 3px solid #eee;
  margin: 0px 0;
}

/* ----- Counting Down ----- */
#clockToday {
  text-align: center;
}

#clockCountdown {
  text-align: center;
}

.time {
  letter-spacing: 0.05vw;
  font-size: clamp(2vw, 3.5vw, 6vw);
  font-weight: bold;
}
.date {
  letter-spacing: 0.05vw;
  font-size: clamp(1.5vw, 2.5vw, 4vw);
}
.text {
  letter-spacing: 0.05vw;
  font-size: clamp(1.5vw, 2.5vw, 4vw);
}

.clock-countdown {
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 0.75%;
  margin-top: 25px;
  width: clamp(25vw, 70vw, 90vw);
}

.clock-countdown-child {
  width: 50%;
  float: left;
  align-items: center;
}
/* ----- Project Section ----- */
h3 {
  text-align: center;
  position: relative;
  border-radius: 1%;
  color: #ffffff;
  padding: 3vw;
  font-size: clamp(2vw, 4vw, 6vw);
}

#projectWrapper {
  color: #ffffff;
  white-space: nowrap;
  font-size: clamp(1vw, 4vw, 5vw);
}
#projectWrapper:hover {
  color: #ffff;
}

.myProjects {
  text-align: center;
  line-height: 3vh;
  position: relative;
  top: -4.5vw;
}

.individual-projects {
  font-size: clamp(1.25vw, 1.5vw, 2.5vw);
  padding: 1vh;
  white-space: nowrap;
}

.scrollMyProjects {
  background-color: rgba(112, 103, 103, 0.25);
  backdrop-filter: blur(5px);
  font-weight: bold;
  display: block;
  width: 8;
}

.mobile-joke-button {
  text-decoration: underline;
  cursor: pointer;
  font-size: clamp(0.4rem, 1.1rem, 10rem);
}

.mobile-joke-button:hover {
  color: #c62368;
}
