/* Media Queries */
@media screen and (min-width: 375px) {
  h1,
  h2,
  h3,
  h4,
  .banner__content,
  .banner__text,
  p,
  .paragraph_link,
  .jokeButton,
  .banner__text,
  .material-icons {
    transform: scale(0.75);
  }
  a,
  #version,
  button,
  .glow-on-hover,
  .nav_link {
    transform: scale(0.7);
  }
  .fab fa-github fa-2x {
    transform: scale(0.8);
  }
}
@media screen and (min-width: 801px) {
  h1,
  h2,
  h3,
  h4,
  .banner__content,
  p,
  .paragraph_link,
  .jokeButton,
  .banner__text {
    transform: scale(0.8);
  }
  a,
  #version,
  button,
  .glow-on-hover,
  .nav_link {
    transform: scale(0.8);
  }
  .fab fa-github fa-2x {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1500px) {
  .dispay-blobs {
    display: none;
  }
}

@media screen and (min-width: 1501px) {
  .tab,
  h3,
  .nav_link,
  .jokeButton,
  .banner__text,
  #projectWrapper,
  .paragraph_link {
    font-size: 1.25vw;
  }
}
